<div class="auth-container">
  <div class="auth-card">
    <div class="auth-left">
      <h2>Sign Up</h2>
      <form class="auth-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <input type="text" placeholder="Name" formControlName="name" />
          <small *ngIf="form.controls.name.touched && form.controls.name.invalid"
            >Name is required</small
          >
        </div>
        <div class="form-field">
          <input type="text" placeholder="Username" formControlName="username" />
          <small *ngIf="form.controls.username.touched && form.controls.username.invalid">
            Username is required
          </small>
        </div>
        <div class="form-field">
          <input type="email" placeholder="Email" formControlName="email" />
          <small *ngIf="form.controls.email.touched && form.controls.email.invalid">
            {{ form.controls.email.errors?.['required'] ? 'Email is required' : 'Enter a valid email' }}
          </small>
        </div>
        <div class="form-field">
          <input type="password" placeholder="Password" formControlName="password" />
          <small *ngIf="form.controls.password.touched && form.controls.password.invalid"
            >Password must be at least 6 characters</small
          >
        </div>
        <div class="form-field">
          <input
            type="password"
            placeholder="Confirmed Password"
            formControlName="confirmPassword"
          />
          <small *ngIf="(form.touched || form.dirty) && form.hasError('mismatch')"
            >Passwords do not match</small
          >
        </div>
        <label class="terms">
          <input type="checkbox" formControlName="terms" />
          <span>I accept the terms &amp; conditions</span>
        </label>
        <small class="server-error" *ngIf="form.errors?.['server'] as err">{{ err }}</small>
        <button type="submit" class="primary-btn">Sign Up</button>
        <div class="social-row">
          <button type="button" class="social-btn google" aria-label="Sign up with Google">
            <svg
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                fill="#EA4335"
                d="M12 10.2v3.9h5.6c-.2 1.2-.9 2.2-1.9 3l3.1 2.4c1.8-1.6 2.9-3.9 2.9-6.6 0-.6-.1-1.2-.2-1.7H12z"
              />
              <path
                fill="#34A853"
                d="M5.3 14.3l-3.6 2.8C3 20.1 7.1 22 12 22c3.2 0 5.9-1.1 7.9-3l-3.1-2.4c-1.1.7-2.6 1.1-4.8 1.1-3.7 0-6.8-2.5-7.7-5.8z"
              />
              <path
                fill="#FBBC05"
                d="M1.7 6.9L5.3 9.7C6.2 7.4 9.3 5 13 5c2.1 0 4 .7 5.5 2l3.3-3.2C19.9 1.7 16.7.7 13 .7 7.1.7 3 2.6 1.7 6.9z"
              />
              <path
                fill="#4285F4"
                d="M12 .7c-4.9 0-9 1.9-10.3 6.2l3.6 2.8C6.2 6.4 9.3 4 13 4c2.1 0 4 .7 5.5 2l3.3-3.2C19.9 1.7 16.7.7 13 .7z"
              />
            </svg>
          </button>
          <button type="button" class="social-btn facebook" aria-label="Sign up with Facebook">
            <svg
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                fill="#1877F2"
                d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.407.593 24 1.325 24h11.495V14.706H9.691v-3.61h3.129V8.41c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.796.715-1.796 1.764v2.313h3.587l-.467 3.61h-3.12V24h6.116C23.407 24 24 23.407 24 22.676V1.325C24 .593 23.407 0 22.675 0z"
              />
            </svg>
          </button>
          <button type="button" class="social-btn github" aria-label="Sign up with GitHub">
            <svg
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                fill="#181717"
                d="M12 .5C5.73.5.88 5.35.88 11.63c0 4.88 3.17 9.02 7.57 10.48.55.1.76-.24.76-.53 0-.26-.01-1.14-.02-2.07-3.08.67-3.73-1.31-3.73-1.31-.5-1.28-1.22-1.62-1.22-1.62-.99-.68.08-.66.08-.66 1.09.08 1.66 1.12 1.66 1.12.98 1.67 2.57 1.19 3.19.91.1-.71.38-1.19.69-1.46-2.46-.28-5.05-1.23-5.05-5.46 0-1.21.43-2.19 1.13-2.96-.11-.28-.49-1.4.11-2.92 0 0 .93-.3 3.05 1.13a10.57 10.57 0 0 1 5.56 0c2.12-1.44 3.05-1.13 3.05-1.13.6 1.52.22 2.64.11 2.92.7.77 1.13 1.75 1.13 2.96 0 4.24-2.6 5.18-5.07 5.46.39.34.74 1.01.74 2.03 0 1.47-.01 2.66-.01 3.02 0 .29.2.64.77.53 4.4-1.46 7.57-5.6 7.57-10.48C23.12 5.35 18.27.5 12 .5z"
              />
            </svg>
          </button>
          <button type="button" class="social-btn x" aria-label="Sign up with X">
            <svg
              viewBox="0 0 24 24"
              width="22"
              height="22"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                fill="#000"
                d="M18.9 1.7h3.1l-6.8 7.8 7.9 12.8h-6.2l-4.8-7.5-5.4 7.5H4.6l7.2-8.5L4.2 1.7h6.3l4.3 6.7 4.1-6.7z"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
    <div class="auth-right">
      <h3>Already have an account?</h3>
      <p>Login to your account!</p>
      <a class="outline-btn" routerLink="/login">Login</a>
    </div>
  </div>
</div>
