 <div *ngFor="let popup of popups" class="popup-wrapper" [class]="popup.positionClass">
      <app-popup-success
        *ngIf="popup.type === 'success'"
        [message]="popup.message"
        [customIcon]="popup.customIcon"
        [iconType]="popup.iconType"
        (close)="onClose(popup.id)"
      ></app-popup-success>

      <app-popup-error
        *ngIf="popup.type === 'error'"
        [message]="popup.message"
        [customIcon]="popup.customIcon"
        [iconType]="popup.iconType"
        (close)="onClose(popup.id)"
      ></app-popup-error>
    </div>
